<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>FoodHub</title>
    <link rel="shortcut icon" href="static/images/logo.jpg" type="image/x-icon">
    

    <link rel="stylesheet" href="static/css/icons.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/red-color.css">
    <link rel="stylesheet" href="static/css/yellow-color.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    
</head>
<body itemscope>
    <main>
        <header class="stick">
            <div class="topbar">
                <div class="container">
                        
                </div>                
            </div><!-- Topbar -->
            <div class="logo-menu-sec">
                <div class="container">
                        <div class="logo"><h1 itemprop="headline"><a href="/restaurantprofile" title="Home" itemprop="url"><img src="static/images/image.jpg" alt="image.jpg" itemprop="image"></a></h1></div>
                  <nav>
                        <div class="menu-sec">
                            <ul>
                                <li class="menu-item-has-children"><a href="#" title="HOMEPAGES" itemprop="url"><span class="red-clr">FOOD ORDERING</span>HOMEPAGES</a></li>
                                <li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url"><span class="red-clr">REAL FOOD</span>RESTAURANTS</a></li>
                                <li class="menu-item-has-children"><a href="#" title="PAGES" itemprop="url"><span class="red-clr">REAL FOOD</span>PAGES</a></li>
                                <li><a href="#" title="CONTACT US" itemprop="url"><span class="red-clr">REAL FOOD</span>CONTACT US</a></li>
                            </ul>
                            <a class="red-bg brd-rd4" href="/reservationres" title="Register" itemprop="url">REGISTER RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
        </header><!-- Header -->

        <section>
            <div class="block">
                <div style="background-image: url(static/images/topbg.jpg);" class="fixed-bg"></div>
                <div class="restaurant-searching text-center">
                    <div class="restaurant-searching-inner">
                            <h2 itemprop="headline"> Order Food Online From the  <span> Best Restaurants</span> in Iligan City</h2>
                        <form class="restaurant-search-form brd-rd2">
                            <div class="row mrg10">
                                <div class="col-md-6 col-sm-5 col-lg-5 col-xs-12">
                                    <div class="input-field brd-rd2"><input class="brd-rd2" type="text" placeholder="Search for a food"></div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <div class="input-field brd-rd2"><i class="fa fa-map-marker"></i><input class="brd-rd2" type="text" placeholder="Search Location"><i class="fa fa-location-arrow"></i></div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-lg-3 col-xs-12">
                                    <button class="brd-rd2 red-bg" type="submit">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="funfacts">
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon1.png" alt="fact-icon1" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">137</span></strong>
                                            <h5>Restaurant</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon2.png" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">158</span></strong>
                                            <h5>People Served</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon3.png" alt="fact-icon3" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">659</span>K</strong>
                                            <h5>Happy Service</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon4.png" alt="fact-icon4" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">235</span></strong>
                                            <h5>Regular users</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                        </div><!-- Fun Facts -->
                    </div>
                    <img class="left-scooty-mockup" src="static/images/resource/restaurant-mockup1.png" alt="restaurant-mockup1.png" itemprop="image">
                    <img class="bottom-clouds-mockup" src="static/images/resource/clouds.png" alt="clouds.png" itemprop="image">
                </div><!-- Restaurant Searching -->
            </div>
        </section>

        <section>
                <div class="block remove-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="title1-wrapper text-center">
                                    <div class="title1-inner">
                                        
                                        <h2 itemprop="headline">Top Restaurants</h2>
                                       </div>
                                </div>
                                <div class="top-restaurants-wrapper">
                                    <ul class="restaurants-wrapper style2">
                                        <li class="wow bounceIn" data-wow-delay="0.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 1" itemprop="url"><img src="static/restaurant/images/bigdipper.jpeg" alt="bigdipper.jpeg" itemprop="image"></a></div></li>
                                        <li class="wow bounceIn" data-wow-delay="0.4s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 2" itemprop="url"><img src="static/restaurant/images/bistro.png" alt="top-restaurant2.png" itemprop="image"></a></div></li>
                                        <li class="wow bounceIn" data-wow-delay="0.6s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 3" itemprop="url"><img src="static/restaurant/images/flamoo.jpeg" alt="flamoo.jpeg" itemprop="image"></a></div></li>
                                        <li class="wow bounceIn" data-wow-delay="0.8s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 4" itemprop="url"><img src="static/restaurant/images/gerrys.png" alt="gerrys.png" itemprop="image"></a></div></li>
                                        <li class="wow bounceIn" data-wow-delay="1s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src="static/restaurant/images/kuyaj.png" alt="kuyaj.png" itemprop="image"></a></div></li>
                                        <li class="wow bounceIn" data-wow-delay="1.2s"><div class="top-restaurant"><a class="brd-rd50" href="#" title="Restaurant 5" itemprop="url"><img src="static/restaurant/images/papajims.png" alt="papajims.png" itemprop="image"></a></div></li>
                                    </ul>ss
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- top restaurants -->
    
    
            <section>
                    <div class="block grayish low-opacity">
                        <div class="fixed-bg" style="background-image: url(static/images/pattern.png)"></div>
                        <div class="top-mockup"><img src="static/images/resource/mockup2.png" alt=""></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                    <div class="filters-wrapper">
                                        <div class="title1-wrapper text-center">
                                            <div class="title1-inner">
                                               
                                                <h2 itemprop="headline">Popular This Month</h2>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="col-md-4 col-xs-12">
                                        <div class="dishes-caro">
                                            <div class="dish-item">
                                                <figure><img src="static/images/lechonbelly.jpeg" alt=""></figure>
                                                <div class="item-meta">
                                                    <img src="static/images/resource/restaurant-logo2.png" alt="">
                                                    <div>
                                                        <span>Louies Lechon</span>
                                                        <p>Del Carmen </p>
                                                    </div>
                                                </div>
                                                <div class="caro-dish-name">
                                                    <h4>Korean Bibimbap Yamyam</h4>
                                                    <span>10.00–30.00</span>
                                                </div>
                                            </div>
                                            <div class="dish-item">
                                                <figure><img src="static/images/pizza.jpeg" alt=""></figure>
                                                <div class="item-meta">
                                                    <img src="static/images/pizza.jpeg" alt="">
                                                    <div>
                                                        <span>Central Caffe Pizzeria</span>
                                                        <p>Iligan City </p>
                                                    </div>
                                                </div>
                                                <div class="caro-dish-name">
                                                    <h4>Pizza</h4>
                                                    <span>30.00</span>
                                                </div>
                                            </div>
                                            <div class="dish-item">
                                                <figure><img src="static/images/pizza.jpeg" alt=""></figure>
                                                <div class="item-meta">
                                                    <img src="static/images/resource/restaurant-logo4.png" alt="">
                                                    <div>
                                                        <span>Dream Food By Opaq</span>
                                                        <p>Iligan City </p>
                                                    </div>
                                                </div>
                                                <div class="caro-dish-name">
                                                    <h4>Korean Bibimbap Yamyam</h4>
                                                    <span>30.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                <div class="col-md-8 col-xs-12">
                                    <div class="popular-of-month">
                                        <div class="pop-dish wow fadeIn" data-wow-delay="0.1s">
                                            <div class="poplr-dish">
                                                <img src="static/images/resource/round-pic1.jpg" alt="">
                                                <div class="dish-meta">
                                                    <span>10.00–30.00</span>
                                                    <h4><a href="#" title="">Tequila & Lime hake</a></h4>
                                                </div>
                                            </div>
                                            <div class="item-meta">
                                                <img alt="" src="static/images/resource/restaurant-logo2.png">
                                                <div>
                                                    <span>Jagnetina Na Raznju</span>
                                                    <p>Iligan City </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pop-dish wow fadeIn" data-wow-delay="0.2s">
                                            <div class="poplr-dish">
                                                <img src="static/images/resource/round-pic2.jpg" alt="">
                                                <div class="dish-meta">
                                                    <span>10.00–30.00</span>
                                                    <h4><a href="#" title="">Maximus nibh facilisis</a></h4>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <div class="pop-dish wow fadeIn" data-wow-delay="0.3s">
                                            <div class="poplr-dish">
                                                <img src="static/images/resource/round-pic3.jpg" alt="">
                                                <div class="dish-meta">
                                                    <span>10.00–30.00</span>
                                                    <h4><a href="#" title="">Hendrerit nisi venenatis</a></h4>
                                                </div>
                                            </div>
                                            <div class="item-meta">
                                                <img alt="" src="static/images/resource/restaurant-logo4.png">
                                                <div>
                                                    <span>Dream Food By Opaq</span>
                                                    <p>Iligan City </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pop-dish">
                                            <div class="poplr-dish wow fadeIn" data-wow-delay="0.4s">
                                                <img src="static/images/resource/round-pic4.jpg" alt="">
                                                <div class="dish-meta">
                                                    <span>10.00–30.00</span>
                                                    <h4><a href="#" title="">Grilled Shrimp Scampi</a></h4>
                                                </div>
                                            </div>
                                            <div class="item-meta">
                                                <img alt="" src="static/images/resource/restaurant-logo5.png">
                                                <div>
                                                    <span>Fabio Al Porto Ristorante</span>
                                                    <p>Iligan City </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rite-meta">
                                            <a href="#" title="" class="view-more">view more food</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-mockup"><img src="static/images/resource/mockup1.png" alt=""></div>
                    </div>
                </section>
        
               
               
        <section>
            <div class="block blackish low-opacity">
                <div class="fixed-bg" style="background-image: url(static/images/parallax1.jpg);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="title1-wrapper text-center">
                                <div class="title1-inner">
                                    
                                    <h2 class="text-white" itemprop="headline">easy order in 3 steps</h2>
                                </div>
                            </div>
                            <div class="remove-ext text-center">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="step-box wow fadeIn" data-wow-delay="0.2s">
                                            <i><img src="static/images/resource/setp-img1.png" alt="setp-img1.png" itemprop="image"> <span class="brd-rd50 red-bg">1</span></i>
                                            <div class="setp-box-inner">
                                                <h4 itemprop="headline">Explore Restaurants</h4>
                                               
                                            </div>
                                        </div><!-- Step Box -->
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="step-box wow fadeIn" data-wow-delay="0.4s">
                                            <i><img src="static/images/resource/setp-img2.png" alt="setp-img2.png" itemprop="image"> <span class="brd-rd50 red-bg">2</span></i>
                                            <div class="setp-box-inner">
                                                <h4 itemprop="headline">Choose a Tasty Dish</h4>
                                                
                                            </div>
                                        </div><!-- Step Box -->
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="step-box wow fadeIn" data-wow-delay="0.6s">
                                            <i><img src="static/images/resource/setp-img3.png" alt="setp-img3.png" itemprop="image"> <span class="brd-rd50 red-bg">3</span></i>
                                            <div class="setp-box-inner">
                                                <h4 itemprop="headline">Follow The Status</h4>
                                                
                                            </div>
                                        </div><!-- Step Box -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
	
 
        <footer>
                <div class="block top-padd80 bottom-padd80 dark-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="footer-data">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-lg-3">
                                            <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-lg-3">
                                            <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                                <h4 class="widget-title" itemprop="headline">INFORMATION</h4>
                                                <ul>
                                                    <li><a href="#" title="" itemprop="url">History</a></li>
                                                    <li><a href="#" title="" itemprop="url">Investors</a></li>
                                                    <li><a href="#" title="" itemprop="url">Press Releases</a></li>
                                                    <li><a href="#" title="" itemprop="url">Shop with Points</a></li>
                                                    <li><a href="#" title="" itemprop="url">More Branches</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-lg-3">
                                            <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                                <h4 class="widget-title" itemprop="headline">CUSTOMER CARE</h4>
                                                <ul>
                                                    <li><a href="#" title="" itemprop="url">Returns</a></li>
                                                    <li><a href="#" title="" itemprop="url">Shipping Info</a></li>
                                                    <li><a href="#" title="" itemprop="url">Gift Cards</a></li>
                                                    <li><a href="#" title="" itemprop="url">Size Guide</a></li>
                                                    <li><a href="#" title="" itemprop="url">Money Back</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-lg-3">
                                                <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                                    <h4 class="widget-title" itemprop="headline">GET IN TOUCH</h4>
                                                    <ul>
                                                       <li><i class="fa fa-map-marker"></i> Andres Bonifacio Ave, Iligan City, 9200 Lanao del Norte</li>
                                                       <li><i class="fa fa-phone"></i> 1234567890</li>
                                                       <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">foodhub@gmail.com</a></li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div><!-- Footer Data -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            
    </main><!-- Main Wrapper -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
</body>	

</html>