<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>FoodHub</title>
    <link rel="shortcut icon" href="static/images/logo.jpg" type="image/x-icon">
    

    <link rel="stylesheet" href="static/css/icons.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/red-color.css">
    <link rel="stylesheet" href="static/css/yellow-color.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    
</head>
<body itemscope>
    <main>
        <header class="stick">
            <div class="topbar">
                <div class="container">        
                </div>                
            </div><!-- Topbar -->
            
                <div class="container">
                        <div class="logo"><h1 itemprop="headline"><a href="/restaurantprofile" title="Home" itemprop="url"><img src="static/images/image.jpg" alt="image.jpg" itemprop="image"></a></h1></div>
                  <nav>
                        <div class="menu-sec">
                            
                            <a class="red-bg brd-rd4" href="/restaurant" title="Register" itemprop="url">ADD RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
        </header><!-- Header -->

        <section>
            <div class="block">
                <div style="background-image: url(static/images/topbg.jpg);" class="fixed-bg"></div>
                <div class="restaurant-searching text-center">
                    <div class="restaurant-searching-inner">
                            <h2 itemprop="headline">  Welcome to your <span>Restaurant</span></h2>    
                        </div><!-- Fun Facts -->
                    </div>
                   
            </div>
        </section>

       
    
               
       
 
        
            
    </main><!-- Main Wrapper -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
</body>	

</html>