<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>FoodHub</title>
    <link rel="shortcut icon" href="static/images/logo.jpg" type="image/x-icon">
    

    <link rel="stylesheet" href="static/css/icons.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/red-color.css">
    <link rel="stylesheet" href="static/css/yellow-color.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    
</head>

<body itemscope>
    <main>
   
        <section>
            <div class="block">
                <div class="fixed-bg" style="background-image: url(static/images/topbg.jpg);"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline"> Restaurants Information</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bread-crumbs-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/restaurantprofile" title="" itemprop="url">Home</a></li>
                    <li class="breadcrumb-item active">Information</li>
                </ol>
            </div>
        </div>

        <section>
            <div class="block top-padd30 gray-bg">
                
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="sec-box">
                                <div class="reservation-tabs-wrapper">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-lg-3">
                                            <div class="reservation-tabs-list brd-rd5">
                                                <ul class="nav nav-tabs brd-rd5">
                                                    <li class="active">
														<a href="#reservation-tab1" data-toggle="tab">
														<span class="brd-rd50">1</span> Create</a>
                                                    </li>
                                                    <li>
                                                        <a href="#reservation-tab2" data-toggle="tab">
                                                        <span class="brd-rd50">2</span>Update</a>
                                                    </li>

                                                    <li>
                                                        <a href="#reservation-tab3" data-toggle="tab">
                                                        <span class="brd-rd50">3</span>Delete</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-lg-9">
                                            <div class="reservation-tab-content">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="reservation-tab1">
                                                        <form class="restaurant-info-form brd-rd5" method = "POST">
                                                            <div class="row mrg20">
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"  name ="restaurant_name">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant Type <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"  name ="restaurant_type">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant Location <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"  name="locations">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant Owner<sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"  name="owner">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Bio<sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"  name="bio">
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="check-box">
                                                                        <input type="checkbox" id="agrement">
                                                                        <label for="agrement">Accept Terms and conditions</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="step-buttons">
                                                                           
                                                                        <a class="brd-rd3 red-bg" href="/restaurantprofile" title="" itemprop="url">CREATE!</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="tab-pane fade" id="reservation-tab2">
                                                            <form class="restaurant-info-form brd-rd5" method = "POST">
                                                                <div class="row mrg20">
                                                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                                                        <label>Restaurant name <sup>*</sup></label>
                                                                        <input class="brd-rd3" type="text"  name ="restaurant_name">
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                                                            <label>Restaurant Type <sup>*</sup></label>
                                                                            <input class="brd-rd3" type="text"  name ="restaurant_type">
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                                            <label>Restaurant Location <sup>*</sup></label>
                                                                            <input class="brd-rd3" type="text"  name="locations">
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                                            <label>Restaurant Owner<sup>*</sup></label>
                                                                            <input class="brd-rd3" type="text"  name="owner">
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                                            <label>Bio<sup>*</sup></label>
                                                                            <input class="brd-rd3" type="text"  name="bio">
                                                                        </div>
                                                                        
                                                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                                                            <div class="step-buttons">
                                                                                
                                                                                <a class="brd-rd3 red-bg" href="/restaurantprofile" title="" itemprop="url">Update!</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                    
                                                    
                                                   
                        
                                                    
                                                    <div class="tab-pane fade" id="reservation-tab3">
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="step-buttons">
                                                                            <div class="danger">
                                                                                    <p><strong>Danger!</strong> Do you wanna delete your restaurant!?</p>
                                                                            </div>
               
                                                                        <a class="brd-rd3" href="/restaurantprofile" title="" itemprop="url">Skip>></a>
                                                                        <a class="brd-rd3 red-bg" href="/restaurantprofile" title="" itemprop="url">Delete</a>
                                                                    
                                                                    </div>
                                                            </div>      
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </main><!-- Main Wrapper -->
</body>

    <script>
    swal("Good job!", "You clicked the button!", "success");
    </script>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="static/js/google-map-int.js"></script>
    <script src="../../www.google.com/recaptcha/api.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/sweetalert.js"></script>
</body>	

</html>